# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.c
*.o
*.egg-info/
.eggs/
dist/
build/

# Cadelac
datasets/
figures/
sim_results/

c_generated_code/
acados_ocp.json

# Exoskeleton experiment artifacts
logs/*.log
logs/torque_zoom/
logs/*.csv
logs/*.png
logs/*.pdf

# Generated model checkpoints and trained model weights
cadelac/learning/trained_models/**/*.torch
cadelac/learning/trained_models/**/checkpoint/
cadelac/learning/trained_models/**/checkpoint_old_runs/

# Generated datasets
cadelac/learning/datasets/**/*.pkl

# Python cache
__pycache__/
*.pyc
